body {
    margin: 0;
    font-family: sans-serif;
}
.container h2 {
    text-align: center;


}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 100px;
    background-color: aliceblue;
    gap: 20px;


}
.div1 {
    background-color: white;
    margin: 20px;
    box-shadow: 2px 2px 5px rgb(206, 206, 206);
    border-radius: 5px;
    width: 100%;

}
.grid img {
    width: 100%;
    
}

.tbox {
    padding: 10px 15px;
    margin-bottom: 10px;
    

}
.tbox p, .tbox h2 {
    margin: 0;
} 

.endline {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    flex-wrap: nowrap;

}
.btn {
    color: white;
    background-color: blue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
}
.date {
    display: block;
}
.tbox p {
    color: grey;
}
.date {
    color: blue;
}
@media only screen and (max-width: 1150px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        padding: 20px, 20px;
    }
    
}

@media only screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        padding: 10px, 20px;
    }
    
}

@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
    
}

@media only screen and (max-width: 576px) {
    .grid {
        grid-template-columns: 1fr;
    }
    
}
@media only screen and (max-width: 576px) {
    .grid {
        grid-template-columns: 1fr;
        padding: 10px;
        
    }
    .div1 {
        margin: 0;
    }
}
